@import "./assets/css/fonts.css";
@import "./assets/css/header.css";
@import "./assets/css/welcome.css";
@import "./assets/css/first-content.css";
@import "./assets/css/second-content.css";
@import "./assets/css/download.css";
@import "./assets/css/footer.css";
@import "./assets/css/helpers.css";

:root {
  --main-font: "montserrat";
  --font-weight: bold;
  --first-color: #f84a0c;
  --second-color: #ffffff;
  --third-color: #f7f7f7;
  --fourth-color: #737373;
  --color-border-first: #e4e4e4;
}
* {
  box-sizing: border-box;
}
