.download-content {
  background-image: url("./../images/download.png");
  padding: 146px 300px 131px;
  background-color: #252b42;
  text-align: center;
}

.header-download {
  font-weight: var(--font-weight);
  font-family: var(--main-font);
  color: var(--second-color);
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  line-height: 57px;
  font-size: 40px;
}

.content-section-download,
.content-mobile-version {
  font-family: var(--main-font);
  -webkit-box-orient: vertical;
  color: var(--second-color);
  letter-spacing: 0.2px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin-bottom: 60px;
  line-height: 38px;
  font-weight: 500;
  overflow: hidden;
  font-size: 24px;
}

.content-mobile-version {
  display: none;
}

.button-wrapper-download {
  max-width: 300px;
  margin: 0 auto;
}

.btn-download,
.btn-download-mob-version {
  border: 1px solid var(--second-color);
  font-weight: var(--font-weight);
  font-family: var(--main-font);
  color: var(--second-color);
  letter-spacing: 0.2px;
  border-radius: 10px;
  padding: 18px 31px;
  line-height: 28px;
  max-width: 145px;
  font-size: 16px;
  display: block;
}

.btn-download:hover {
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  transition-duration: 0.4s;
}

.hide {
  display: none;
}

@media screen and (max-width: 1200px) {
  .download-content {
    padding: 120px 24px 110px;
  }
}

@media screen and (max-width: 768px) {
  .download-content {
    background-image: none;
  }

  .content-section-download,
  .display {
    display: none;
  }

  .content-mobile-version {
    color: #bdbdbd;
    display: block;
  }

  .nowrap {
    white-space: nowrap;
  }

  .btn-download-mob-version {
    padding: 18px 20px;
  }

  .btn-download-mob-version:hover {
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
  }

  .hide {
    display: inline-block;
  }
}
