.first-content {
  padding: 0px 161px 0px 245px;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.header-first-content {
  border-top: 3px solid var(--first-border-color);
  font-family: "poppins";
  letter-spacing: 0.1px;
  text-align: center;
  line-height: 36px;
  padding-top: 72px;
  max-width: 1029px;
  font-weight: 600;
  color: #000000;
  font-size: 44px;
  margin: 0 auto;
  opacity: 0.8;
}

.img-section-first-content {
  min-height: 656px;
  max-height: 656px;
  max-width: 493px;
}

.wrapper-first-content {
  max-width: 561px;
}

.preview-first-content {
  font-weight: var(--font-weight);
  font-family: var(--main-font);
  letter-spacing: 0.1px;
  margin-bottom: 17px;
  line-height: 36px;
  color: #fa4a0c;
  font-size: 24px;
}

.sub-header-first-content {
  font-weight: var(--font-weight);
  font-family: var(--main-font);
  letter-spacing: 0.2px;
  margin-bottom: 27px;
  line-height: 57px;
  color: #252b42;
  font-size: 40px;
}

.sub-content-first-section {
  font-family: var(--main-font);
  letter-spacing: 0.2px;
  line-height: 38px;
  font-weight: 500;
  max-width: 467px;
  color: #737373;
  font-size: 24px;
}

@media screen and (max-width: 992px) {
  .first-content {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header-first-content {
    border-bottom: 3px solid var(--first-border-color);
    font-family: var(--main-font);
    padding-bottom: 49px;
    margin-bottom: 65px;
    color: #000000;
    border-top: none;
    padding-top: 0px;
    font-size: 24px;
  }

  .content-first-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .first-img-mobile-version {
    min-height: 581px;
    max-height: 581px;
    max-width: 414px;
  }

  .preview-first-content {
    margin-bottom: 40px;
  }

  .sub-header-first-content {
    margin-bottom: 50px;
  }

  .sub-content-first-section {
    margin-bottom: 17px;
    margin: 0 auto;
  }
}
