.content-footer {
  padding: 53px 160px 15px 186px;
}

.logo-footer {
  height: 102px;
  width: 246px;
}

.icon-wrapper {
  min-width: 170px;
}

.icon {
  height: 41px;
  width: 41px;
}

.icon-mob-version,
.our-mob-link {
  display: none;
}

.our-link,
.our-mob-link {
  font-weight: var(--font-weight);
  letter-spacing: 0.1px;
  font-family: "roboto";
  line-height: 18px;
  color: #5c5c5c;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .logo-footer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .content-footer {
    padding: 60px 114px 45px 105px;
    flex-direction: column;
  }

  .icon-wrapper {
    margin-bottom: 8px;
  }

  .icon-desktop-version,
  .our-link {
    display: none;
  }

  .icon-mob-version,
  .our-mob-link {
    display: block;
  }
}
