.content-header {
  padding: 26px 47px 27px 90px;
}

.logo-header {
  height: 102px;
  width: 206px;
}

.btn-header {
  background: url(./../icons/burger-menu-button.png);
  height: 16px;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .content-header {
    padding: 17px 23px 44px 25px;
  }

  .logo-header {
    width: 104px;
    height: 51px;
  }
}
