.line-clamp {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.line-clamp-5 {
  -webkit-line-clamp: 5;
}

.hidden {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flex {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
