.second-content {
  padding-left: 254px;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.content-second-section {
  flex-direction: row-reverse;
}

.wrapper-second-content {
  max-width: 480px;
}

.preview-second-content,
.preview-second-content-mobile-version {
  font-weight: var(--font-weight);
  font-family: var(--main-font);
  letter-spacing: 0.1px;
  margin-bottom: 17px;
  line-height: 36px;
  color: #fa4a0c;
  font-size: 24px;
}

.preview-second-content-mobile-version {
  display: none;
}

.header-second-content {
  font-weight: var(--font-weight);
  font-family: var(--main-font);
  letter-spacing: 0.2px;
  margin-bottom: 27px;
  line-height: 57px;
  color: #252b42;
  font-size: 40px;
}

.sub-content-second-section {
  font-family: var(--main-font);
  letter-spacing: 0.2px;
  line-height: 38px;
  color: #737373;
  font-weight: 500;
  font-size: 24px;
}

.img-section-second-content {
  min-height: 807px;
  max-height: 807px;
  max-width: 501px;
}

@media screen and (max-width: 1200px) {
  .second-content {
    padding-left: 30px;
  }

  .second-img-mobile-version {
    min-height: 581px;
    max-height: 581px;
    max-width: 414px;
  }
}

@media screen and (max-width: 768px) {
  .second-content {
    padding: 44px 0px 93px;
  }

  .content-second-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .wrapper-second-content {
    padding: 0px 43.5px;
  }

  .preview-second-content {
    display: none;
  }

  .preview-second-content-mobile-version {
    margin-bottom: 40px;
    display: block;
  }

  .header-second-content {
    margin-bottom: 50px;
  }
}
