.second-content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 254px;
  overflow-x: hidden;
}
.content-second-section {
  flex-direction: row-reverse;
}
.max-width-padding-second-content {
  max-width: 480px;
}
.link-second-content,
.link-second-content-mobile-version {
  font-family: var(--main-font);
  font-weight: var(--font-weight);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #fa4a0c;
  min-height: 36px;
}
.link-second-content-mobile-version {
  display: none;
}
.header-second-content {
  font-family: var(--main-font);
  font-weight: var(--font-weight);
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  padding-top: 17px;
  padding-bottom: 27px;
  min-height: 114px;
}
.sub-content-second-section {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  min-height: 76px;
}
.img-section-second-content {
  min-height: 807px;
  max-height: 807px;
  max-width: 501px;
}
@media screen and (max-width: 1200px) {
  .second-content {
    padding-left: 30px;
  }
  .img-mobile-version2 {
    min-height: 581px;
    max-height: 581px;
    max-width: 414px;
  }
}
@media screen and (max-width: 768px) {
  .second-content {
    padding: 44px 0px 93px;
  }
  .content-second-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .max-width-padding-second-content {
    padding: 0px 43.5px;
  }
  .link-second-content {
    display: none;
  }
  .link-second-content-mobile-version {
    display: block;
  }
  .header-second-content {
    min-height: 171px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .sub-content-second-section {
    min-height: 152px;
  }
}
