.welcome {
  font-family: sans-serif;
}
.content-welcome {
  box-sizing: border-box;
  color: white;
  text-align: center;
  height: 619px;
  background-color: #221c19;
  background-image: url("../img/welcome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
