.content-welcome {
  box-sizing: border-box;
  color: white;
  text-align: center;
  padding: 73px 251.5px 146px 251.5px;
  height: 619px;
  background-color: #221c19;
  background-image: url("../img/welcome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.string {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  padding-bottom: 17px;
}
.heading {
  max-width: 937px;
  margin: 0 auto;
  font-family: "poppins";
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  padding-bottom: 27px;
}
.paragraph {
  font-family: "montserrat";
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  padding-bottom: 54px;
}
.customization-btn {
  border: 0;
  padding: 0;
  background-color: inherit;
  margin-top: 15px;
}
.btn-welcome {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: white;
  padding: 18.5px 61.5px;
  border-radius: 30px;
  border: 1px solid white;
  margin-left: 31px;
}
.btn-welcome:hover {
  background-color: #f84a0c;
}
.img-welcome {
  padding-bottom: 129px;
}
