.content-welcome {
  text-align: center;
  padding: 73px 251.5px 146px;
  background-color: #221c19;
  background-image: url("../img/welcome.png");
}
.link-welcome {
  font-family: var(--main-font);
  font-weight: var(--font-weight);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  min-height: 36px;
  color: var(--third-color);
  text-decoration: none;
}
.header-welcome {
  font-family: "poppins";
  font-weight: var(--font-weight);
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  margin: 0 auto;
  color: var(--second-color);
  padding-top: 17px;
  padding-bottom: 27px;
  min-height: 160px;
  max-width: 937px;
}
.sub-content-welcome {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: var(--third-color);
  min-height: 38px;
  padding-bottom: 54px;
}
.customization-btn {
  display: inline-block;
  background-color: inherit;
  border: 0;
  padding: 0;
}
.btn-welcome {
  font-family: var(--main-font);
  font-weight: var(--font-weight);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: var(--second-color);
  padding: 16px 58.5px;
  border-radius: 30px;
  border: 1px solid var(--second-color);
  margin-left: 30px;
  display: block;
  position: relative;
  z-index: 2;
  max-width: 240px;
}
.btn-welcome:hover {
  transition-duration: 0.4s;
  background-color: var(--first-color);
}
.img-welcome {
  display: block;
  margin: 0 auto;
  margin-top: -165px;
  min-height: 640px;
  max-width: 548px;
  padding-bottom: 129px;
}
@media screen and (max-width: 1200px) {
  .content-welcome {
    padding: 50px 11.5px 250.5px;
  }
  .img-welcome {
    margin-top:-255px;
  }
}
@media screen and (max-width: 768px) {
  .content-welcome {
    background-image: none;
    background-color: var(--second-color);
  }
  .link-welcome {
    font-size: 16px;
    line-height: 24px;
    min-height: 24px;
    color: var(--fourth-color);
  }
  .header-welcome {
    font-size: 36px;
    line-height: 42px;
    min-height: 128px;
    color: #252b42;
  }
  .sub-content-welcome {
    min-height: 76px;
    color: var(--fourth-color);
    padding-bottom: 50px;
  }
  .customization-btn {
    margin-bottom: 15px;
  }
  .btn-welcome {
    color: var(--first-color);
    border: 1px solid var(--first-color);
  }
  .btn-welcome:hover {
    color: var(--second-color);
  }
  .box-shadow {
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
  }
  .img-welcome {
    min-height: 492px;
    max-width: 422px;
    padding-bottom: 116px;
    margin-top: -270px;
  }
}
@media (max-width: 455px) {
  .img-welcome {
    min-height: 350px;
    max-width: 320px;
  }
}
