.content-welcome {
  background-image: url("./../images/welcome.png");
  padding: 73px 251.5px 146px;
  background-color: #221c19;
  text-align: center;
}

.preview-welcome {
  font-weight: var(--font-weight);
  font-family: var(--main-font);
  color: var(--third-color);
  letter-spacing: 0.1px;
  margin-bottom: 17px;
  line-height: 36px;
  font-size: 24px;
}

.header-welcome {
  font-weight: var(--font-weight);
  color: var(--second-color);
  font-family: "poppins";
  letter-spacing: 0.2px;
  line-height: 80px;
  margin: 0 auto;
  margin-bottom: 27px;
  max-width: 937px;
  font-size: 58px;
}

.sub-content-welcome {
  font-family: var(--main-font);
  color: var(--third-color);
  letter-spacing: 0.2px;
  margin-bottom: 54px;
  line-height: 38px;
  font-weight: 500;
  font-size: 24px;
}

.button-wrapper-welcome {
  max-width: 500px;
  margin: 0 auto;
}

.btn-welcome {
  border: 1px solid var(--second-color);
  font-weight: var(--font-weight);
  font-family: var(--main-font);
  color: var(--second-color);
  letter-spacing: 0.1px;
  padding: 16px 58.5px;
  border-radius: 30px;
  line-height: 36px;
  font-size: 24px;
  display: block;
  width: 236px;
  z-index: 2;
}

.btn-welcome:hover {
  border: 1px solid var(--first-color);
  background-color: var(--first-color);
  transition-duration: 0.4s;
}

.img-welcome {
  margin: 0 auto;
  margin-bottom: 129px;
  margin-top: -165px;
  min-height: 640px;
  max-width: 548px;
  display: block;
}

@media screen and (max-width: 1200px) {
  .content-welcome {
    padding: 50px 11.5px 250.5px;
  }

  .img-welcome {
    margin-top: -255px;
  }
}

@media screen and (max-width: 768px) {
  .content-welcome {
    background-color: var(--second-color);
    background-image: none;
  }

  .preview-welcome {
    color: var(--fourth-color);
    line-height: 24px;
    font-size: 16px;
  }

  .header-welcome {
    line-height: 42px;
    color: #252b42;
    font-size: 36px;
  }

  .sub-content-welcome {
    color: var(--fourth-color);
    margin-bottom: 50px;
  }

  .button-wrapper-welcome {
    max-width: 236px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .customization-btn {
    margin-bottom: 15px;
  }

  .customization-btn:first-child > .btn-welcome {
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
  }

  .btn-welcome {
    border: 1px solid var(--first-color);
    color: var(--first-color);
  }

  .btn-welcome:hover {
    color: var(--second-color);
  }

  .img-welcome {
    margin-bottom: 116px;
    margin-top: -270px;
    min-height: 492px;
    max-width: 422px;
  }
}

@media screen and (max-width: 455px) {
  .img-welcome {
    min-height: 350px;
    max-width: 320px;
  }
}
